@model OdeToMood

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<div class="info">
    Id: @Model.Id
</div>
@*<div class="info">
    Cuisine: @Model.Cuisine
</div>*@

<a asp-action="Index" asp-controller="OdeToMood">Home</a>